//colors
$body-bgc: #202124;
$body-clr: #bdc1c6;
$search-bdc: #5f6368;
$submit-bgc: #303134;
$submit-clr: #e8eaed;
$a-clr: white;
$as-title-clr: #f28b82;
$as-line-bdc: #3c4043;
$as-search-bdc: #8ab4f8;
$as-submit-bgc: #aecbfa;
$as-submit-bdc: #2f5bb7;

.search {
    height: 44px;
    background: $body-bgc;
    border: 1px solid $search-bdc;
    border-radius: 24px;
    box-shadow: none;
    width: 550px;
    padding: 0 16px;
    color: $submit-clr;
    font-size: 16px;
}

.search:hover {
    background-color: $submit-bgc;
    border-color: $submit-bgc;
}

.search:focus {
    outline: none;
    background-color: $submit-bgc;
    border-color: $submit-bgc;
}

body {
    background: $body-bgc;
    margin: 0;
    padding: 0;
}

body, input {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: $body-clr;
}

input[type="submit"] {
    background: $submit-bgc;
    border: 1px solid $submit-bgc;
    color: $submit-clr;
    height: 36px;
    border-radius: 4px;
    margin: 12px 6px;
    padding: 0 16px;
}

input[type="submit"]:hover {
    border-color: $search-bdc;
}

.as-search {
    background: $body-bgc;
    border: 1px solid $search-bdc;
    color: $body-clr;
    border-radius: 1px;
    height: 25px;
    width: 552px;
    padding: 1px 8px;
}

.as-search:focus {
    outline: none;
    border-color: $as-search-bdc;
}

.links {
    display: flex;
    justify-content: flex-end;
    height: 48px;
    padding: 6px;
}

.blank {
    height: 150px;
}

.as-title {
    color: $as-title-clr;
    font-size: 20px;
    justify-content: flex-start;
    margin: 25px 45px;
}

.as-line {
    border-bottom: 1px solid $as-line-bdc;
}

.as-header {
    height: 42px;
    font-size: 16px;
    font-weight: 500;
    color: $submit-clr;
    justify-content: flex-start;
    padding: 0;
}

.as-form {
    margin: 40px 45px;
    padding: 0;
    justify-content: flex-start;
}

.as-row {
    padding: 0;
    height: 42px;
    align-items: flex-start;
    justify-content: flex-start;
    div {
        padding :0;
        height: 29px;
        align-items: center;
    }
}

.as-submit {
    padding: 0;
    justify-content: flex-end;
    input {
        width: 120px;
        height: 30px;
        padding: 0 12px;
        font-weight: bold;
        font-size: 11px;
        color: $body-bgc;
        background: $as-search-bdc;
        border-color: $as-search-bdc;
    }
    input:hover {
        background-color: $as-submit-bgc;
        border-color: $as-submit-bdc;
    }
}

label {
    font-size: 13px;
    width: 182px;
}

a {
    color: $a-clr;
    text-decoration: none;
    vertical-align: middle;
    padding: 15px;
    font-size: 13px;
}

div {
    display: flex;
    justify-content: center;
}

form {
    div {
        padding: 18px;
    }
}